html,
body {
  text-rendering: optimizeLegibility;
}

body {
  color: $spring-color;
  padding: 0;
  margin: 0;
  font-size: $spring-font-size;
  font-family: $spring-font-family;
  font-weight: 400;
  font-style: normal;
  position: relative;
  line-height: 32px;
  background-repeat: repeat-y;
  background-size: 316px 1px;
  background-image: url(data:image/gif;base64,R0lGODlheAICAIAAAH2vUPf39yH/C1hNUCBEYXRhWE1QPD94cGFja2V0IGJlZ2luPSLvu78iIGlkPSJXNU0wTXBDZWhpSHpyZVN6TlRjemtjOWQiPz4gPHg6eG1wbWV0YSB4bWxuczp4PSJhZG9iZTpuczptZXRhLyIgeDp4bXB0az0iQWRvYmUgWE1QIENvcmUgNS42LWMxNDAgNzkuMTYwNDUxLCAyMDE3LzA1LzA2LTAxOjA4OjIxICAgICAgICAiPiA8cmRmOlJERiB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiPiA8cmRmOkRlc2NyaXB0aW9uIHJkZjphYm91dD0iIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtbG5zOnhtcE1NPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvbW0vIiB4bWxuczpzdFJlZj0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL3NUeXBlL1Jlc291cmNlUmVmIyIgeG1wOkNyZWF0b3JUb29sPSJBZG9iZSBQaG90b3Nob3AgQ0MgMjAxOCAoTWFjaW50b3NoKSIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDowRjJERDYwM0ZBMkIxMUU4QkFDMEIyRkQzQjlGREMwMiIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDowRjJERDYwNEZBMkIxMUU4QkFDMEIyRkQzQjlGREMwMiI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOjBGMkRENjAxRkEyQjExRThCQUMwQjJGRDNCOUZEQzAyIiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOjBGMkRENjAyRkEyQjExRThCQUMwQjJGRDNCOUZEQzAyIi8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+Af/+/fz7+vn49/b19PPy8fDv7u3s6+rp6Ofm5eTj4uHg397d3Nva2djX1tXU09LR0M/OzczLysnIx8bFxMPCwcC/vr28u7q5uLe2tbSzsrGwr66trKuqqainpqWko6KhoJ+enZybmpmYl5aVlJOSkZCPjo2Mi4qJiIeGhYSDgoGAf359fHt6eXh3dnV0c3JxcG9ubWxramloZ2ZlZGNiYWBfXl1cW1pZWFdWVVRTUlFQT05NTEtKSUhHRkVEQ0JBQD8+PTw7Ojk4NzY1NDMyMTAvLi0sKyopKCcmJSQjIiEgHx4dHBsaGRgXFhUUExIREA8ODQwLCgkIBwYFBAMCAQAAIfkEAAAAAAAsAAAAAHgCAgAAAiaEb6HL7Q+jnLTai7PevPsPhuJIluaJpmqJIOsLx/JM1/aN5/puFwA7);
}

div {
  outline: none;
}

// -----------------
// Header

.header {
  width: $spring-sidebar-width;
  h1.logo {
    width: 280px;
    margin: 0px 20px 0px 24px;
    padding: $spring-8points * 2 0px;
    a {
      display: block;
      position: relative;
      padding: 4px 0;
      padding-left: 65px;
      color: #000;
      text-decoration: none;
      font-size: 1rem;
      line-height: 1.6rem;
      font-weight: normal;
      width: 205px;
      span {
        display: block;
      }
      span.title {
        display: block;
        font-size: 1.4rem;
        font-weight: normal;
        letter-spacing: -1px;
        strong {
          color: $spring-primary-color;
        }
      }
      svg {
        width: 50px;
        position: absolute;
        left: 0;
        top: 6px;
      }
      &:focus {
        outline: 1px dotted $spring-primary-color;
      }
    }
  }
}

// -----------------
// Quick Links

.quick-links {
  position: absolute;
  top: 10px;
  right: 20px;
  width: 320px;
  text-align: right;
  list-style: none;
  margin: 0px;
  padding: 0px;
  li {
    position: relative;
    display: inline-block;
    a {
      padding: 8px;
      padding-left: 28px;
      padding-right: 4px;
      position: relative;
      color: $spring-color;
      margin: 0px 12px;
      text-decoration: none;
      cursor: pointer;
      @include transition(color $spring-transition-duration);
      svg {
        position: absolute;
        left: 4px;
        top: 8px;
        width: 18px;
      }
      &:hover {
        color: $spring-primary-color;
      }
      &.dropdown {
        padding-right: 8px;
        svg.caret {
          position: relative;
          width: 10px;
          top: 3px;
          margin-left: 10px;
        }
      }
      &:focus {
        outline: 1px dotted $spring-primary-color;
      }
    }
  }
  ul.dropdown-menu {
    z-index: 999;
    position: absolute;
    top: 34px;
    right: 0px;
    width: 200px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 10px;
    text-align: left;
    background: white;
    padding: 0px;
    margin: 0px;
    list-style: none;
    li {
      display: block;
      a {
        display: block;
        position: relative;
        color: $spring-color;
        padding: 4px 12px;
        margin: 0px;
        text-decoration: none;
        @include transition(background $spring-transition-duration);
        &:hover {
          background: rgb(231, 241, 244);
        }
      }
    }
  }
}

// -----------------
// Footer

.footer {
  background: $spring-gray-color;
  line-height: 24px;
  padding: 0 40px 0 8px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
  font-size: $spring-font-size-sm;
  letter-spacing: -0.5px;
  text-align: right;
  margin-left: 8px;
  .footer-container {
    padding: 4px 0 0;
  }
  a {
    color: #097dff;
  }
}

// -----------------
// line

.colset {
  display: flex;
  .left {
    font-weight: 700;
    width: 280px;
    text-align: right;
    position: relative;
    padding: 8px 32px 8px 0px;
    flex: 0 0 280px;
    &.nopadding {
      padding: 0;
      flex: 0 0 310px;
      margin-left: 6px;
    }
  }
  .right {
    max-width: 600px;
    padding: 8px 0px 8px 32px;
    flex: 2 1 0%;
    &.nopadding {
      max-width: 600px;
      margin-left: 28px;
      flex: 2 1 0%;
      padding: 0px;
    }
    &.right-md {
      max-width: 500px;
      padding: 8px 0px 8px 32px;
      flex: 2 1 0%;
    }
  }
}

// -----------------
// Dependencies

.dependencies-box {
  padding: 16px 0 8px 32px;
  flex: 2;
  max-width: 900px;
}

// -----------------
// Colset 2

.colset-2 {
  display: flex;
  min-height: 300px;
  .column {
    flex: 1 1 0%;
    & + .column {
      padding-left: 20px;
    }
  }
}

// -----------------
// Control

.control {
  padding-top: 8px;
  & + .control {
    padding-top: 16px;
  }
}

label {
  display: block;
  color: rgb(112, 108, 105);
  font-size: 14px;
  font-weight: lighter;
  line-height: 17px;
}

.dependencies label {
  padding: 8px 0;
}

.control-input {
  display: block;
  border: 0;
  outline: none;
  border-bottom: 3px solid #ebebeb;
  line-height: 16px;
  font-family: Karla, sans-serif;
  font-size: 15px;
  box-sizing: border-box;
  background-clip: padding-box;
  width: 100%;
  padding: 0.35rem 0 0.55rem;
  border-radius: 0;
  background: #fff;
  @include transition(border-color $spring-transition-duration);
  &:hover {
    border-color: $spring-border-color-hover;
  }
  &:focus {
    border-color: $spring-primary-color;
  }
}

.button {
  color: #222;
  padding: 0px 12px;

  border: 2px solid #e4e4e4;
  background-color: #fff;
  border-radius: 4px;
  font-family: Karla, sans-serif;
  font-size: 15px;
  font-weight: 400;
  cursor: pointer;
  line-height: 32px;
  @include transition(all $spring-transition-duration);
  outline: none;
  &:hover {
    border: 2px solid #d0d0d0;
    background-color: #fff;
  }
  &:focus {
    outline: 1px dotted $spring-primary-color;
  }
  &.primary {
    padding: 4px 32px;
    color: #fff;
    border: 2px solid $spring-primary-color;
    background-color: $spring-primary-color;
    @include transition(all $spring-transition-duration);
    &:hover {
      border: 2px solid #5fa82f;
      background-color: #5fa82f;
    }
    &:focus {
    }
  }
}

.sticky {
  position: sticky;
  bottom: 0px;
}

// -----------------
// Custom

.see-all {
  position: absolute;
  top: 38px;
  right: 35px;
  font-weight: 400;
  width: 80px;
  height: 22px;
  line-height: 22px;
  cursor: pointer;
  text-decoration: underline;
  color: #097dff;
  &:focus {
    outline: 1px dotted $spring-primary-color;
  }
}

.submit {
  position: sticky;
  bottom: 0px;
  width: 920px;
  background: white;
  height: 36px;
  padding: 24px 0 28px;
  border-top: 1px solid #ccc;
}

// -----------------
// RadioGroup

.radio {
  display: inline-block;
  border-bottom: 3px solid $spring-border-color;
  text-decoration: none;
  color: #888;
  line-height: 32px;
  padding: 0 16px;
  text-align: center;
  font-weight: 700;
  cursor: pointer;
  margin-right: 4px;
  @include transition(all $spring-transition-duration);
  outline: none;
  &:hover {
    border-color: $spring-border-color-hover;
    color: $spring-color;
  }
  &.checked {
    border-bottom-color: $spring-primary-color;
    color: #000;
  }
  &:focus {
    outline: 1px dotted $spring-primary-color;
  }
}

.dependencies-list {
  .dependency-item {
    position: relative;
    border: 2px solid #f7f7f7;
    background: #ffffff;
    line-height: 24px;
    padding: 8px 40px 8px 16px;
    margin: 8px 0;
    border-radius: 4px;
    cursor: pointer;
    svg {
      position: absolute;
      top: 50%;
      right: 15px;
      margin-top: -7px;
      display: none;
      width: 14px;
    }
    .title {
      font-weight: bold;
    }
    .description {
      color: rgba(0, 0, 0, 0.6);
    }
    .warning {
      font-weight: bold;
      color: #f30808;
    }
    &:hover svg {
      display: block;
    }
  }
  .dependency-item-gray {
    background: #f7f7f7;
    &:hover svg {
      display: none;
    }
    &.selected {
      background: #e7f1f4;
      border-color: #e7f1f4;
      svg {
        display: block;
      }
    }
    &.invalid {
      background: #ffe2e2;
      border-color: #ffe2e2;
      cursor: not-allowed;
      svg {
        display: none;
      }
    }
  }
}

.more {
  line-height: 16px;
  padding-top: 8px;
  margin-top: 4px;
  div.wrap {
    border-bottom: 3px solid #ebebeb;
    padding-bottom: 4px;
    a {
      position: relative;
      display: block;
      background: white;
      height: 28px;
      line-height: 28px;
      margin-top: 4px;
      padding: 0 $spring-8points * 2 0 24px;
      color: $spring-color;
      text-decoration: none;
      border-radius: $spring-radius;
      @include transition(all $spring-transition-duration);
      &:hover {
        color: $spring-color;
        svg {
          color: $spring-primary-color;
        }
      }
      svg {
        position: absolute;
        width: 8px;
        left: 8px;
        top: 8px;
        color: $spring-color;
        @include transition(all $spring-transition-duration);
      }
      &.toggle {
        svg {
          transform: rotate(90deg);
          left: 8px;
          top: 8px;
        }
      }

      &:focus {
        outline: 1px dotted $spring-primary-color;
      }
    }
  }
}

.panel {
  overflow: hidden;
  max-height: 0;
  @include transition(all $spring-transition-duration * 3);
  &.panel-active {
    max-height: 600px;
  }
  .panel-wrap {
    border: 1px solid lighten(#ebebeb, 4);
    border-top: 0 none;
    padding: $spring-8points * 1.5 $spring-8points * 3;
    padding-bottom: $spring-8points * 3;
  }
}

// -----------------
// Group

.groups {
  margin-top: -27px;
  padding: 0px 0px 16px;
  .group {
    line-height: 1.4rem;
    position: relative;
    border-bottom: 1px solid rgb(238, 238, 238);
    padding: 16px 0px;
    label {
      display: block;
      position: relative;
      cursor: pointer;
      padding: 11px 40px 11px 35px;
      margin: 8px 0px;
      border-radius: 4px;
      font-size: $spring-font-size;
      color: rgba(0, 0, 0, 0.6);
      strong {
        font-weight: bold;
        color: $spring-color;
      }
      input {
        display: inline-block;
        margin-left: -22px;
        margin-right: 10px;
      }
      &:hover {
        background: #f7f7f7;
      }
    }
    .group-title {
      position: sticky;
      font-weight: bold;
      color: rgb(109, 179, 63);
      margin-top: 16px;
      width: 150px;
      top: 10px;
      float: left;
    }
    .group-items {
      padding-left: 160px;
    }
  }
}

.search-label {
  padding-bottom: 8px;
}
